*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("header-image.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8px;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
}
.logo{
    padding-left: 4rem;
    width: 140.8px;
    height: 44px;
    cursor: pointer;
    margin-left: 4rem;
}
nav button{
    width: 76.91px;
    height: 32px;
    border: 0 solid rgba(0,0,0,0);
    border-radius: 0.1875rem;
    outline: 0;
    background: red;
    color: #fff;
    padding: 7px 20px;
    font-size: 11px;
    font-weight: bold;
    margin-right: 9rem;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: 1px solid rgb(207, 202, 202);
    padding: 7px 10px;
    width:120px;
    height: 32px;
    font-weight: 600;
    margin-right: 1rem;
    
}
.language-btn i{
    
    margin-right: 0.45rem;
}
.language-btn img{
    width: 10px;
    margin-left: 0.45rem;
}
.header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    height: 41.333px;
    width: 1000.031px;
    left: 40%;
    line-height: 70px;
    margin: 6rem;
    font-size: 3rem;
    font-weight: 900;
}
.header-content p{
    margin: 7.6rem 0 0;
    font-size: 1.4rem;
    font-weight: 575;
}
.header-content h3{
    margin-top: 2.1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-input{
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    border: 1.2px solid white;
    border-radius: 0.25rem;
    line-height: 1.5;
    height: 24px;
    width: 400.750px;
    padding: 20px 16px 20px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1.3rem;

}
.email-btn{
    background-color: red;
    color: #fff;
    border: none;
    height: 62px;
    width: 220px;
    border-radius: 0.25rem;
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 1rem;

}
.email-btn i{
    margin-left: 1rem;
    font-size: 1.4rem;
}
.features{
    padding: 50px 12%;
    font-size: 22px;
    background-color: black;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding:50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 1000;
    font-size: 40px;
}
.break{
    width:100%;
    height: 0.8rem;
    background-color:#121212;
    margin-top: 0%;
}
.box{
    height: 5rem;
    width: 100%;
    background-color: #312f2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
}
.box p{
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}
.box i{
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 300;
}
.signup-fab{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.signup-fab h3{
    font-weight: 400;
    font-size: 1.5rem;
}
.footer{
    margin-top: 2rem;
    height: 350px;
    width: 100%;
    font-size: 1rem;
}
.footer p{
    margin-left: 9.5rem;
    margin-top: 4rem;
    opacity: 0.7;
}
.footer p a{
    color: #fff;
    
}
.foot-panel{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background-color: #000;
}
ul{
    margin-top: 1rem;
}
ul a{
    display: block;
    margin-top: 1rem;
    color: #fff;
    opacity: 0.7;
}
.foot-panel2 button{
    color:#fff ;
    margin-left: 9.5rem;
    margin-top: 1.4rem;
    width: 120px;
    border-radius: 4px;
    border: 0.01px solid rgb(207, 202, 202);
}
.foot-pane3{
    opacity: 0.7;
    margin-left: 9.5rem;
    margin-top: 1.4rem;
}
